---
pageable: true
---

<!-- Lista todos os posts da pasta /post -->
<section class="home">

  <% page_articles.each_with_index do |article, i| %>
    <article class="posts">
      <% if article.data.link %>
        <h2 class="posts-title"><%= link_to article.title, article.data.link, target: '_blank', title: article.title %></h2>
      <% else %>
        <h2 class="posts-title"><%= link_to article.title, article, title: article.title %></h2>
      <% end %>

        <div class="posts-info">
          <div class="month"><%= article.date.strftime('%B') %></div>
          <div class="year"> | <%= article.date.strftime('%Y') %></div>
          <div class="local"><%= article.data.local %></div>
        </div>

        <%= article.summary(350, '.') %>
    </article>
  <% end %>

  <!--
  <% if paginate && num_pages > 1 %>
    <p class="pages">P치gina <%= page_number %> de <%= num_pages %></p>
  <% end %>
  -->

  <% if paginate %>
    <ul class="pagination">
      <% if prev_page %>
        <li><%= link_to 'P치gina anterior', prev_page %></li>
      <% end %>

      <% if next_page %>
        <li><%= link_to 'Pr칩xima P치gina', next_page %></li>
      <% end %>
    </ul>
  <% end %>

</section>
